<%= render '/layouts/header'%>
<h2>Edit your run:</h2>
  


<%= form_for [@game, @run] do |f| %>

  <% if @run.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@run.errors.count, "error") %> prohibited this run from being updated:</h4>

      <ul>
        <% @run.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :game_id, :value => params[:game_id] %>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <label>Hour: </label>
  <%= f.number_field :hour, in: 0..23, step: 1 %><br>
  <label>Minute: </label>
  <%= f.number_field :minute, in: 0..59, step: 1 %><br>
  <label>Second: </label>
  <%= f.number_field :second, in: 0..59, step: 1 %><br>

  <%= f.submit %>
  <%=   link_to("Delete Run", [@game, @run], method: :delete) %>

<% end%>